<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Purchase</title>
    <link rel="stylesheet" type="text/css" href="../static/buy.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <a href="index.html" class="back">Go back</a>
    <div class="container">
        <h2 class="font">Buy Cryptocurrency</h2>
        <form action="#" method="post">
            <label for="crypto" class="crypto_des">Select Cryptocurrency:</label>
            <select id="crypto" name="crypto"  class="crypto_des">
                <option value="ripple">Ripple (XRP)</option>
                <option value="bitcoin_cash">Bitcoin Cash (BCH)</option>
                <option value="cardano">Cardano (ADA)</option>
                <option value="polkadot">Polkadot (DOT)</option>
                <option value="chainlink">Chainlink (LINK)</option>
                <option value="stellar">Stellar (XLM)</option>
                <option value="binance_coin">Binance Coin (BNB)</option>
                <option value="solana">Solana (SOL)</option>
                <option value="dogecoin">Dogecoin (DOGE)</option>
                <option value="uniswap">Uniswap (UNI)</option>
                <option value="cosmos">Cosmos (ATOM)</option>
                <option value="eos">EOS (EOS)</option>
                <option value="avalanche">Avalanche (AVAX)</option>
                <option value="tezos">Tezos (XTZ)</option>
                <option value="tron">Tron (TRX)</option>
                
            </select>
            <label for="amount" class="crypto_des">Amount:</label>
            <input type="number" id="amount" name="amount" placeholder="Enter amount">
            <label for="currency" class="crypto_des">Select Currency:</label>
            <select id="currency" name="currency">
                <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="GBP">GBP</option>
    <option value="JPY">JPY</option>
    <option value="CAD">CAD</option>
    <option value="AUD">AUD</option>
    <option value="CHF">CHF</option>
    <option value="CNY">CNY</option>
                
            </select>
            <button type="submit">Buy Now</button>
        </form>
    </div>
</body>
</html>
